body {
    margin: 0;
}

.router-link {
    text-decoration: none;
    height: 0%;
}

.router-link-user-page {
    text-decoration: none;
    color: white;
    height: 0%;
}

/* Landing Page
================================================================================================================
*/

.landing-page {
    display: flex;
    background-color: #1e1e1e;
    height: 100vh;
}

.landing-col-left {
    float: left;
    width: 40%;
    font-family: "Montserrat", sans-serif;
}

.logo {
    display: flex;
    font-size: 65pt;
    font-weight: 900;
    margin: 30px;
    margin-left: 50px;
    margin-bottom: 80px;
    color: white;
    background: url(logo-circles.svg);
    background-position: 15vh;
    background-repeat: no-repeat;
}

.posts-link {
    display: flex;
    align-items: center;
    margin-left: 180px;
    margin-top: 32px;
    color: white;
    font-size: 25pt;
}

.landing-page-info {
    flex-direction: column;
    margin-left: 100px;
    margin-top: 0px;
}

.blog-text {
    color: white;
    font-size: 50pt;
}

.landing-page-buttons {
    margin-top: 30px;
}

.login-btn {
    font-size: 22pt;
    padding: 7px;
    font-family: "Montserrat", sans-serif;
    color: #1e1e1e;
    background-color: #a7ff83;
    outline: none;
    border: none;
    display: block;
    width: 300px;
    border-radius: 0.8rem;
}

.login-btn:hover {
    background-color: rgb(141, 255, 96);
    cursor: pointer;
}

.register-btn {
    font-size: 22pt;
    margin-top: 10px;
    padding: 7px;
    font-family: "Montserrat", sans-serif;
    color: #1e1e1e;
    background-color: #a7ff83;
    outline: none;
    border: none;
    display: block;
    width: 300px;
    border-radius: 0.8rem;
}

.register-btn:hover {
    background-color: rgb(141, 255, 96);
    cursor: pointer;
}

.landing-col-right {
    display: block;
    float: right;
    width: 60%;
    background: url(home-shape.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.user-icon {
    position: absolute;
    float: right;
    margin: 10px;
    background: url(user-icon.svg);
    background-repeat: no-repeat;
    padding: 30px;
    top: 7%;
    left: 30%;
}

.user-icon:hover {
    cursor: pointer;
    margin-top: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .landing-col-right {
        display: none;
    }

    .blog-text {
        color: white;
        font-size: 35pt;
    }

    .landing-page-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 70px;
        margin-top: 80px;
    }

    .login-btn {
        font-size: 22pt;
        padding: 7px;
        font-family: "Montserrat", sans-serif;
        color: #1e1e1e;
        background-color: #a7ff83;
        outline: none;
        border: none;
        display: block;
        width: 200px;
        border-radius: 0.8rem;
    }
    .register-btn {
        font-size: 22pt;
        margin-top: 10px;
        padding: 7px;
        font-family: "Montserrat", sans-serif;
        color: #1e1e1e;
        background-color: #a7ff83;
        outline: none;
        border: none;
        display: block;
        width: 200px;
        border-radius: 0.8rem;
    }

    .landing-col-left {
        float: left;
        width: 80%;
        font-family: "Montserrat", sans-serif;
    }

    .logo {
        display: flex;
        font-size: 55pt;
        font-weight: 900;
        margin: 30px;
        margin-left: 20px;
        color: white;
        background: url(logo-circles.svg);
        background-position: 15vh;
        background-repeat: no-repeat;
    }

    .posts-link {
        display: flex;
        align-items: center;
        margin-left: 140px;
        margin-top: 28px;
        color: white;
        font-size: 20pt;
    }

    .landing-page-buttons {
        margin-top: 80px;
    }

    .user-icon {
        position: absolute;
        float: right;
        margin: 10px;
        background: url(user-icon.svg);
        background-repeat: no-repeat;
        padding: 30px;
        top: 18%;
        left: 5%;
    }
} /* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 480px) and (max-width: 624px) {
    .landing-col-right {
        display: none;
    }

    .landing-col-left {
        float: left;
        width: 80%;
        font-family: "Montserrat", sans-serif;
    }

    .blog-text {
        color: white;
        font-size: 45pt;
    }

    .posts-link {
        margin-left: 260px;
    }

    .logo {
        display: flex;
        font-size: 65pt;
        font-weight: 900;
        margin: 30px;
        margin-left: 20px;
        color: white;
        background: url(logo-circles.svg);
        background-position: 15vh;
        background-repeat: no-repeat;
    }

    .user-icon {
        position: absolute;
        float: right;
        margin: 10px;
        background: url(user-icon.svg);
        background-repeat: no-repeat;
        padding: 30px;
        top: 8%;
        left: 45%;
    }
} /* SMARTPHONES LANDSCAPE */

@media only screen and (min-width: 625px) and (max-width: 809px) {
    .logo {
        margin-left: 40px;
    }
    .landing-col-right {
        display: none;
    }

    .posts-link {
        margin-left: 390px;
    }

    .landing-page-info {
        margin-top: 50px;
    }

    .blog-text {
        color: white;
        font-size: 50pt;
    }

    .user-icon {
        position: absolute;
        float: right;
        margin: 10px;
        background: url(user-icon.svg);
        background-repeat: no-repeat;
        padding: 30px;
        top: 8%;
        left: 48%;
    }
} /* TABLETS PORTRAIT */

@media only screen and (min-width: 810px) and (max-width: 1200px) {
    .landing-col-right {
        display: none;
    }

    .posts-link {
        margin-left: 490px;
    }

    .landing-page-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 370px;
        margin-top: -20px;
    }

    .user-icon {
        position: absolute;
        float: right;
        margin: 10px;
        background: url(user-icon.svg);
        background-repeat: no-repeat;
        padding: 30px;
        top: 8%;
        left: 40%;
    }
}

@media only screen and (min-width: 1201px) {
    .user-icon {
        position: absolute;
        float: right;
        margin: 10px;
        background: url(user-icon.svg);
        background-repeat: no-repeat;
        padding: 30px;
        top: 8%;
        left: 35%;
    }
}

/* Login Page
================================================================================================================
*/

.login-left-col {
    float: left;
    width: 50%;
    height: 100vh;
    background-color: #1e1e1e;
    font-family: "Montserrat", sans-serif;
}

.login-icon {
    display: flex;
    font-size: 65pt;
    font-weight: 900;
    margin: 30px;
    margin-left: 50px;
    margin-bottom: 60px;
    color: white;
    background: url(logo-circles.svg);
    background-position: 15vh;
    background-repeat: no-repeat;
}

.login-vector {
    display: block;
    background: url(computerlogin.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 470px;
}

.login-left-col-info {
    font-size: 42pt;
    color: white;
    text-align: center;
    position: relative;
}

.login-right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

.login-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1e1e1e;
    border-radius: 1.5rem;
    text-align: left;
    padding: 40px;
    padding-left: 110px;
    padding-right: 110px;
}

.login-form-container > label {
    color: white;
    margin: 10px;
    width: 75%;
    font-size: 15pt;
}

.login-email {
    outline: none;
    padding: 18px;
    width: 250px;
    border: 3px solid #a7ff83;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 13pt;
}

input[type="email"],
textarea {
    background-color: transparent;
}

input[type="password"],
textarea {
    background-color: transparent;
}

input[type="name"],
textarea {
    background-color: transparent;
}

input[type="body"],
textarea {
    background-color: transparent;
}

/*Avoid browser change input color when autocomplete*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: rgb(151, 151, 151) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.login-password {
    outline: none;
    padding: 18px;
    width: 250px;
    border: 3px solid #a7ff83;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
}

.signin-btn {
    outline: none;
    margin-top: 5px;
    padding: 12px;
    width: 180px;
    border: none;
    border-radius: 1rem;
    color: #1e1e1e;
    font-size: 18pt;
    background-color: #a7ff83;
    font-family: "Montserrat", sans-serif;
}

.signin-btn:hover {
    background-color: rgb(141, 255, 96);
    cursor: pointer;
}

.login-errors {
    color: white;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1055px) {
    .login-form-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #1a1a1a;
        border-radius: 1.5rem;
        text-align: left;
        padding: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .login-left-col {
        float: left;
        margin-right: -300px;
        width: 50%;
        height: 100vh;
        background-color: #1e1e1e;
        padding-bottom: 90px;
        font-family: "Montserrat", sans-serif;
    }

    .login-icon {
        display: flex;
        font-size: 65pt;
        font-weight: 900;
        margin: 30px;
        margin-left: 30px;
        margin-bottom: 60px;
        color: white;
        background: url(logo-circles.svg);
        background-position: 15vh;
        background-repeat: no-repeat;
    }

    .login-left-col-info {
        display: none;
    }
}

/* Register page
================================================================================================================
*/

.register-right-col {
    float: right;
    width: 50%;
    height: 100vh;
    background-color: #1e1e1e;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 30px;
}

.register-left-col {
    float: left;
    width: 50%;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

.register-vector {
    display: block;
    background-color: teal;
    height: 70vh;
    background: url(city.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.register-icon {
    display: flex;
    font-size: 65pt;
    font-weight: 900;
    margin: 30px;
    margin-left: 50px;
    margin-bottom: 5px;
    color: #1e1e1e;
    background: url(logo-circles.svg);
    background-position: 15vh;
    background-repeat: no-repeat;
    width: 30%;
}

.register-container {
    display: flex;
    justify-content: center;
}

.register-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1e1e1e;
    border-radius: 1.5rem;
    padding: 15px;
    padding-left: 110px;
    padding-right: 110px;
}

.register-form-container > input {
    outline: none;
    padding: 18px;
    width: 250px;
    border: 3px solid #a7ff83;
    border-radius: 0.5rem;
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 13pt;
    margin-bottom: -0px;
}

.register-form-container > label {
    color: white;
    margin: 10px;
    width: 75%;
    font-size: 15pt;
}

.signup-btn {
    outline: none;
    padding: 12px;
    width: 180px;
    border: none;
    border-radius: 1rem;
    color: #1e1e1e;
    font-size: 18pt;
    background-color: #a7ff83;
    font-family: "Montserrat", sans-serif;
}

.signup-btn:hover {
    background-color: rgb(141, 255, 96);
    cursor: pointer;
}

.register-right-col-info {
    font-size: 42pt;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding-left: 15px;
}

@media only screen and (max-width: 1050px) {
    .register-right-col {
        float: top;
        width: 50%;
        height: 100vh;
        background-color: #1e1e1e;
        font-family: "Montserrat", sans-serif;
        padding-bottom: 125px;
    }

    .register-left-col {
        float: none;
        width: 100%;
        height: 0vh;
        font-family: "Montserrat", sans-serif;
    }

    .register-form-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #1e1e1e;
        border-radius: 1.5rem;
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .register-form-container > input {
        outline: none;
        padding: 18px;
        width: 250px;
        border: 3px solid #a7ff83;
        border-radius: 0.5rem;
        margin-bottom: 10px;
        color: rgb(255, 255, 255);
        font-size: 13pt;
        margin-bottom: -0px;
    }

    .register-form-container > label {
        color: white;
        margin: 10px;
        width: 75%;
        font-size: 15pt;
    }

    .register-vector {
        display: flex;
        height: 80vh;
        background: url(city2.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .register-right-col-info {
        display: none;
        font-size: 28pt;
        color: white;
        text-align: center;
        margin-top: 15px;
        padding-left: 15px;
    }

    .register-icon {
        display: flex;
        font-size: 65pt;
        font-weight: 900;
        margin: 0px;
        margin-left: 50px;
        margin-bottom: 5px;
        color: #1e1e1e;
        background: url(logo-circles.svg);
        background-position: 15vh;
        background-repeat: no-repeat;
    }
}

/* User Page
================================================================================================================
*/

.user-page-header {
    background-color: #1e1e1e;
    font-family: "Montserrat", sans-serif;
    display: flex;
    height: 50vh;
}

.user-page-header-detail {
    background: url(userpage-detail.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
}

.user-page-icon {
    display: flex;
    font-size: 65pt;
    font-weight: 900;
    margin-left: 48px;
    color: white;
    background: url(logo-circles.svg);
    background-position: 15vh;
    background-repeat: no-repeat;
    width: 200px;
}

.logout {
    background-color: #1e1e1e;
    font-size: 20pt;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    cursor: pointer;
    height: 10%;
}

.user-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 20px;
    margin-top: 10px;
    height: 50%;
    color: white;
}

.user-info > h1 {
    margin-bottom: 10px;
    font-size: 35pt;
}

.user-btn {
    outline: none;
    padding: 12px;
    width: 180px;
    border: none;
    border-radius: 0.5rem;
    color: #1e1e1e;
    font-size: 18pt;
    background-color: #a7ff83;
    font-family: "Montserrat", sans-serif;
}

.user-btn:hover {
    background-color: rgb(141, 255, 96);
    cursor: pointer;
}

.user-bottom-row {
    display: flex;
    justify-content: center;
}

.user-articles-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0.5px 2px 2px 3px rgba(0, 0, 0, 0.3);
    width: 75%;
    margin: 20px;
    border-radius: 2rem;
}

.user-articles-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    margin-bottom: 10px;
    width: 80%;
    border-bottom: 1px solid #a7ff83;
    color: #1e1e1e;
    font-size: 20pt;
    font-family: "Montserrat", sans-serif;
}

.user-article-container {
    background-color: #1e1e1e;
    width: 90%;
    margin-bottom: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    border-radius: 1rem;
    padding: 10px;
}

.user-article-container {
    cursor: pointer;
}

.user-article-title {
    margin-left: 50px;
    font-size: 20pt;
}

.trash-icon {
    float: right;
    margin: 10px;
    background: url(trash.svg);
    background-repeat: no-repeat;
    padding: 15px;
    transition: 0.6s;
}

.trash-icon:hover {
    cursor: pointer;
    margin-right: 16px;
}

.user-article-body {
    margin-left: 50px;
    color: rgb(172, 172, 172);
}

.user-footer {
    margin-left: 50px;
}

.user-author {
    width: 30%;
    margin-bottom: -50px;
}

.user-comments {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(comment.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6vh;
    width: 10%;
    float: right;
    color: #1e1e1e;
}

.user-likes {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6vh;
    color: #1e1e1e;

    width: 10%;
    float: right;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .user-page-icon {
        display: flex;
        font-size: 45pt;
        font-weight: 900;
        margin-left: 28px;
        color: white;
        background: url(logo-circles.svg);
        background-position: 12vh;
        background-repeat: no-repeat;
        width: 180px;
    }

    .user-page-header-detail {
        display: none;
    }
    .user-info {
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin-left: -220px;
        margin-top: 50px;
        height: 50%;
        color: white;
    }

    .user-info > h1 {
        font-size: 25pt;
    }

    .logout {
        display: flex;
        background-color: #1e1e1e;
        font-size: 11pt;
        color: white;
        font-family: "Montserrat", sans-serif;
        padding: 12px;
        cursor: pointer;
        height: 15%;
        margin-left: -70px;
    }

    .user-btn {
        outline: none;
        padding: 10px;
        width: 180px;
        border: none;
        border-radius: 0.5rem;
        color: #1e1e1e;
        font-size: 15pt;
        background-color: #a7ff83;
        font-family: "Montserrat", sans-serif;
    }

    .user-articles-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: 0.5px 2px 2px 3px rgba(0, 0, 0, 0.3);
        width: 100%;
        margin: 20px;
        border-radius: 2rem;
        margin-right: 30px;
    }

    .user-article-container {
        background-color: #1e1e1e;
        width: 85%;
        margin-bottom: 20px;
        color: white;
        font-family: "Montserrat", sans-serif;
        border-radius: 1rem;
        padding: 10px;
    }

    .user-article-title {
        margin-left: 10px;
        font-size: 18pt;
    }

    .user-article-body {
        margin-left: 10px;
        color: rgb(172, 172, 172);
    }

    .user-footer {
        margin-left: 10px;
    }

    .user-comments {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(comment.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 5vh;
        width: 15%;
        float: right;
    }
    .user-likes {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(like.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 5vh;
        width: 20%;
        float: right;
    }
} /* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 480px) and (max-width: 800px) {
    .user-page-icon {
        display: flex;
        font-size: 45pt;
        font-weight: 900;
        margin-left: 28px;
        color: white;
        background: url(logo-circles.svg);
        background-position: 12vh;
        background-repeat: no-repeat;
        width: 180px;
    }

    .user-page-header-detail {
        display: none;
    }
    .user-info {
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin-left: -120px;
        margin-top: 50px;
        height: 50%;
        color: white;
    }

    .user-info > h1 {
        font-size: 25pt;
    }

    .logout {
        display: flex;
        background-color: #1e1e1e;
        font-size: 15pt;
        color: white;
        font-family: "Montserrat", sans-serif;
        padding: 0px;
        cursor: pointer;
        height: 15%;
        margin-left: -50px;
    }

    .user-btn {
        outline: none;
        padding: 10px;
        width: 180px;
        border: none;
        border-radius: 0.5rem;
        color: #1e1e1e;
        font-size: 15pt;
        background-color: #a7ff83;
        font-family: "Montserrat", sans-serif;
    }

    .user-articles-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: 0.5px 2px 2px 3px rgba(0, 0, 0, 0.3);
        width: 100%;
        margin: 20px;
        border-radius: 2rem;
        margin-right: 30px;
    }

    .user-article-container {
        background-color: #1e1e1e;
        width: 85%;
        margin-bottom: 20px;
        color: white;
        font-family: "Montserrat", sans-serif;
        border-radius: 1rem;
        padding: 10px;
    }

    .user-article-title {
        margin-left: 10px;
        font-size: 18pt;
    }

    .user-article-body {
        margin-left: 10px;
        color: rgb(172, 172, 172);
    }

    .user-footer {
        margin-left: 10px;
    }

    .user-comments {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(comment.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 5vh;
        width: 15%;
        float: right;
    }
    .user-likes {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(like.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 5vh;
        width: 20%;
        float: right;
    }
} /* SMARTPHONES LANDSCAPE */

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .logout {
        display: flex;
        background-color: #1e1e1e;
        font-size: 15pt;
        color: white;
        font-family: "Montserrat", sans-serif;
        padding: 0px;
        cursor: pointer;
        height: 15%;
        margin-left: 110px;
    }

    .user-page-header-detail {
        display: none;
    }
}

/* New Article Form
================================================================================================================
*/

.open-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close-modal {
    display: none;
}

.modal-btn {
    outline: none;
    padding: 12px;
    width: 50px;
    border: none;
    border-radius: 0.5rem;
    color: #1e1e1e;
    font-size: 18pt;
    background-color: #a7ff83;
    font-family: "Montserrat", sans-serif;
    float: right;
    margin-bottom: 30px;
}

.modal-btn:hover {
    background-color: rgb(141, 255, 96);
    cursor: pointer;
}

.modal-form {
    background-color: white;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.modal-form-closed {
    display: none;
}

.title-modal {
    outline: none;
    padding: 18px;
    width: 550px;
    border: 3px solid #1e1e1e;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    font-size: 22pt;
    font-family: "Montserrat", sans-serif;
}

.preview-modal {
    outline: none;
    padding: 15px;
    width: 550px;
    border: 3px solid #1e1e1e;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    font-size: 12pt;
    font-family: "Montserrat", sans-serif;
}

.new-article-form {
    color: black;
    font-family: arial;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal-post-btn {
    outline: none;
    padding: 12px;
    width: 180px;
    border: none;
    border-radius: 0.5rem;
    color: #1e1e1e;
    font-size: 18pt;
    background-color: #a7ff83;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
}

.modal-post-btn:hover {
    background-color: rgb(141, 255, 96);
    cursor: pointer;
}

.error-modal {
    margin-top: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .title-modal {
        outline: none;
        padding: 15px;
        width: 150px;
        border: 3px solid #1e1e1e;
        border-radius: 0.5rem;
        margin-bottom: 20px;
        font-size: 15pt;
        font-family: "Montserrat", sans-serif;
    }

    .new-article-form {
        color: black;
        font-family: arial;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .preview-modal {
        outline: none;
        padding: 10px;
        width: 180px;
        border: 3px solid #1e1e1e;
        border-radius: 0.5rem;
        margin-bottom: 20px;
        font-size: 12pt;
        font-family: "Montserrat", sans-serif;
    }

    .modal-post-btn {
        outline: none;
        padding: 5px;
        width: 130px;
        border: none;
        border-radius: 0.5rem;
        color: #1e1e1e;
        font-size: 18pt;
        background-color: #a7ff83;
        font-family: "Montserrat", sans-serif;
        margin-top: 10px;
    }

    .modal-btn {
        outline: none;
        padding: 6px;
        width: 50px;
        border: none;
        border-radius: 0.5rem;
        color: #1e1e1e;
        font-size: 14pt;
        background-color: #a7ff83;
        font-family: "Montserrat", sans-serif;
        float: right;
        margin-bottom: 0px;
    }
} /* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 480px) and (max-width: 700px) {
    .title-modal {
        outline: none;
        padding: 15px;
        width: 280px;
        border: 3px solid #1e1e1e;
        border-radius: 0.5rem;
        margin-bottom: 20px;
        font-size: 15pt;
        font-family: "Montserrat", sans-serif;
    }

    .new-article-form {
        color: black;
        font-family: arial;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .preview-modal {
        outline: none;
        padding: 10px;
        width: 320px;
        border: 3px solid #1e1e1e;
        border-radius: 0.5rem;
        margin-bottom: 20px;
        font-size: 12pt;
        font-family: "Montserrat", sans-serif;
    }

    .modal-post-btn {
        outline: none;
        padding: 5px;
        width: 130px;
        border: none;
        border-radius: 0.5rem;
        color: #1e1e1e;
        font-size: 18pt;
        background-color: #a7ff83;
        font-family: "Montserrat", sans-serif;
        margin-top: 10px;
    }

    .modal-btn {
        outline: none;
        padding: 6px;
        width: 50px;
        border: none;
        border-radius: 0.5rem;
        color: #1e1e1e;
        font-size: 14pt;
        background-color: #a7ff83;
        font-family: "Montserrat", sans-serif;
        float: right;
        margin-bottom: 0px;
    }
} /* SMARTPHONES LANDSCAPE */

/* One Article page
================================================================================================================
*/

.article-page-logo {
    width: 0%;
}

.article-page-icon {
    display: flex;
    font-size: 65pt;
    font-weight: 900;
    margin-left: 48px;
    color: #1e1e1e;
    background: url(logo-circles.svg);
    background-position: 15vh;
    background-repeat: no-repeat;
    width: 200px;
    font-family: "Montserrat", sans-serif;
}

.article-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-container {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    width: 35%;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
}

.article-page-title {
    font-size: 35pt;
    margin-bottom: 10px;
}

.article-page-preview {
    color: #6d6d6d;
}

.article-page-author {
    color: #6a6a6a;
    margin-bottom: -5px;
}

.article-page-post-date {
    color: #414141;
    margin-bottom: 40px;
}

.article-like {
    position: absolute;
    padding: 5px;
    top: 50%;
    left: 4%;
    font-family: "Montserrat", sans-serif;
    color: #1e1e1e;
    font-size: 15pt;
}

.article-like-btn {
    outline: none;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #a7ff83;
    font-size: 15pt;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Montserrat", sans-serif;
}

.article-like-btn:hover {
    background-color: rgb(141, 255, 96);

    cursor: pointer;
}

.new-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20pt;
    color: #1e1e1e;
}

.comment-input {
    outline: none;
    padding: 18px;
    width: 800px;
    border: 3px solid #a7ff83;
    border-radius: 0.5rem;
    margin-top: 20px;
    color: #1e1e1e;
    font-size: 13pt;
}

.comment-btn {
    font-size: 15pt;
    padding: 7px;
    font-family: "Montserrat", sans-serif;
    color: #1e1e1e;
    background-color: #a7ff83;
    outline: none;
    border: none;
    display: block;
    width: 150px;
    border-radius: 1rem;
    margin-top: 10px;
}

.comment-btn:hover {
    background-color: rgb(141, 255, 96);
    cursor: pointer;
}

.article-comments {
    margin-top: 10px;
}

.article-comments > p {
    font-size: 25pt;
    color: #1e1e1e;
}

.individual-comment {
    color: #1e1e1e;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.comment-body {
    display: block;
    word-wrap: break-word;
    white-space: normal;
}

.article-page-link {
    position: absolute;
    top: 0;
    left: 30%;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 32px;
    color: #1e1e1e;
    font-size: 25pt;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 579px) {
    .article-container {
        background-color: rgb(255, 255, 255);
        margin: 20px;
        width: 75%;
        padding: 30px;
        font-family: "Montserrat", sans-serif;
    }

    .article-page-icon {
        display: flex;
        font-size: 45pt;
        font-weight: 900;
        margin-left: 30px;
        margin-top: 30px;
        color: #1e1e1e;
        background: url(logo-circles.svg);
        background-position: 10vh;
        background-repeat: no-repeat;
        width: 200px;
        font-family: "Montserrat", sans-serif;
    }

    .article-page-link {
        position: absolute;
        top: 2%;
        left: 45%;
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-top: 35px;
        color: #1e1e1e;
        font-size: 20pt;
        font-family: "Montserrat", sans-serif;
    }

    .article-like {
        position: absolute;
        padding: 5px;
        top: 20%;
        left: 4%;
        font-family: "Montserrat", sans-serif;
        color: #1e1e1e;
        font-size: 15pt;
    }

    .article-page-title {
        font-size: 20pt;
        margin-bottom: 30px;
        margin-top: 70px;
    }

    .comment-input {
        outline: none;
        padding: 18px;
        width: 250px;
        border: 3px solid #a7ff83;
        border-radius: 0.5rem;
        margin-top: 20px;
        color: #1e1e1e;
        font-size: 13pt;
    }
} /* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 580px) and (max-width: 879px) {
    .article-container {
        background-color: rgb(255, 255, 255);
        margin: 20px;
        width: 75%;
        padding: 30px;
        font-family: "Montserrat", sans-serif;
    }

    .article-page-icon {
        display: flex;
        font-size: 45pt;
        font-weight: 900;
        margin-left: 30px;
        margin-top: 30px;
        color: #1e1e1e;
        background: url(logo-circles.svg);
        background-position: 10vh;
        background-repeat: no-repeat;
        width: 200px;
        font-family: "Montserrat", sans-serif;
    }

    .article-page-link {
        position: absolute;
        top: 2%;
        left: 45%;
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-top: 35px;
        color: #1e1e1e;
        font-size: 20pt;
        font-family: "Montserrat", sans-serif;
    }

    .article-like {
        position: absolute;
        padding: 5px;
        top: 20%;
        left: 4%;
        font-family: "Montserrat", sans-serif;
        color: #1e1e1e;
        font-size: 15pt;
    }

    .article-page-title {
        font-size: 20pt;
        margin-bottom: 30px;
        margin-top: 70px;
    }

    .comment-input {
        outline: none;
        padding: 18px;
        width: 500px;
        border: 3px solid #a7ff83;
        border-radius: 0.5rem;
        margin-top: 20px;
        color: #1e1e1e;
        font-size: 13pt;
    }
} /* SMARTPHONES LANDSCAPE / TABLET */

/* Error 
================================================================================================================
*/

.article-error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-404 {
    font-family: "Montserrat", sans-serif;
    margin-left: 10px;
}

.error-404-number {
    font-size: 80pt;
    border-bottom: 1px solid rgba(128, 128, 128, 0.253);
}

.error-404-info {
    font-size: 50pt;
    color: slategrey;
}

/* Posts Page
================================================================================================================
*/

.posts-icon-container {
    width: 50%;
}

.posts-icon {
    display: flex;
    font-size: 65pt;
    font-weight: 900;
    color: #1e1e1e;
    background: url(logo-circles.svg);
    background-position: 15vh;
    background-repeat: no-repeat;
    width: 200px;
    font-family: "Montserrat", sans-serif;
    margin: 30px;
    margin-left: 50px;
    margin-bottom: 60px;
}

.posts-banner {
    font-size: 70pt;
    color: #1e1e1e;
    font-family: "Montserrat", sans-serif;
    margin-left: 250px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.096);
}

.posts-gustavo {
    margin: 5px;
    margin-left: 250px;
    color: #1e1e1e;
    font-family: "Montserrat", sans-serif;
    font-size: 10pt;
}

.posts-container {
    margin-top: 60px;
    margin-left: 250px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
}

.posts-article {
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    margin-bottom: 30px;
}

.posts-article > h1 {
    font-size: 18pt;
    color: #1e1e1e;
    margin-bottom: -10px;
}

.posts-article > h3 {
    font-size: 13pt;
    color: #909090;
    margin-bottom: -10px;
}

.posts-article > h4 {
    margin-bottom: 10px;
    color: #858585;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .posts-icon {
        margin-left: 30px;
    }
    .posts-banner {
        font-size: 38pt;
        color: #1e1e1e;
        font-family: "Montserrat", sans-serif;
        margin-left: 20px;
        border-bottom: 3px solid rgba(0, 0, 0, 0.096);
    }

    .posts-gustavo {
        margin: 5px;
        margin-left: 20px;
        color: #1e1e1e;
        font-family: "Montserrat", sans-serif;
        font-size: 8pt;
    }

    .posts-container {
        margin-top: 60px;
        margin-left: 50px;
        width: 75%;
        font-family: "Montserrat", sans-serif;
    }
} /* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 501px) and (max-width: 810px) {
    .posts-banner {
        font-size: 38pt;
        color: #1e1e1e;
        font-family: "Montserrat", sans-serif;
        margin-left: 80px;
        border-bottom: 3px solid rgba(0, 0, 0, 0.096);
    }

    .posts-gustavo {
        margin: 5px;
        margin-left: 80px;
        color: #1e1e1e;
        font-family: "Montserrat", sans-serif;
        font-size: 8pt;
    }

    .posts-container {
        margin-top: 60px;
        margin-left: 50px;
        width: 75%;
        font-family: "Montserrat", sans-serif;
    }
} /* SMARTPHONES LANDSCAPE */
